*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Nunito Sans;
    min-height: 100vh;
     background-color:  hsl(0, 18%, 92%);
    
    
 }
.size-box{
    
   max-width: 1400px;
   margin-inline: auto ;
   margin-top: 26px;
  
  
}
.head{
   
    max-width: 1400px;
    margin-inline: auto;
   display: flex;
   justify-content: space-between;
  
   align-items: center;
   
}
.header-container{
     padding-inline: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.head span{
    font-size: 22px;
    font-weight: 500;
}
.title{
   
    font-weight: 800;
}
/* .search-filter{
    display: flex;
    justify-content: space-between;
     align-items: center;
     
}
.sea
  height: 38px;
  width: 256px;

   box-shadow:0 0 12px 0 rgba(0, 0, 0, 0.15);
 padding-left: 24px;
    
}
.search input{
        font-size: 18px;
    font-weight: 400;
 border: none;
 width: 90%;
 height: 100%;
 padding: 12px ;

} */
.search-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.search{
    height: 48px;
    width: 350px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
    
}

.search span{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    padding-left: 24px;
    border-radius: 4px;
}

.search input{
    font-size: 18px;
    font-weight: 400;
    border: none;
    width: 90%;
    height: 100%;
    padding: 12px;
    outline: none;
      
}
.search input::placeholder{
    color: #999;
}
.fa-solid fa-magnifying-glass{
        background-color: #FFFFFF

}
.country-container{
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 32px;
    display: flex;
  gap: 36px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
 transition: all 0.2s ease-in-out;
    display: inline-block;
    border-radius: 12px;
    width: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.card:hover{
    transform:scale(1.03) ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
 a{
    text-decoration-line:none ;
    color: inherit;
}
.image img{
    width: 100%;
    border-top-left-radius: 12px;
     border-top-right-radius: 12px;
}
.data-country {
  padding-left: 16px;
  padding-bottom: 14px;
}
.filter-by-region{
 width: 220px;
 padding: 6px 16px;
 border: none;
 outline: none;
 box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
font-size: 16px;
border-radius: 4px;
}
/* @media (max-width : 400px){

    .filter-by-region{
    width: 120px;
 padding: 4px 12px;
    }

} */